<h3>Criar Novo Usuário (Simplificado)</h3>

<a href="/create-user-simplificado">Criar no modo simplificado</a><br />
<a href="/create-user-completo">Criar no modo completo</a><br />

<hr />
<form method="post" action="/newuser-simplificado">

<table>
    <tr>
        <td>Nome</td>
        <td><input type="text" name="nome" /></td>
    </tr>

    <tr>
        <td>Sobrenome</td>
        <td><input type="text" name="sobrenome" /></td>
    </tr>

    <tr>
        <td>Data de nascimento</td>
        <td><input type="date" name="dataDeNascimento" /></td>
    </tr>    
</table>

<button type="submit">Cadastrar</button>
</form>