<h3>Lista de usuários (Simplificado)</h3>

<a href="/users-simplificado">Ver modo simplificado</a><br />
<a href="/users-completo">Ver modo completo</a><br />

<hr />

<table border="1">
    <tr>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Data de nascimento</td>
    </tr>

    {{#if listExists}} 
        {{#each usuarios}}
    <tr>
        <td>{{this.nome}}</td>
        <td>{{this.sobrenome}}</td>
        <td>{{this.dataNascimento}}</td>
        <td>!! {{this}}</td>
    </tr>
        {{/each}}
    {{/if}}


</table>