<h3>Lista de usuários (Completo)</h3>

<a href="/users-simplificado">Ver modo simplificado</a><br />
<a href="/users-completo">Ver modo completo</a><br />

<hr />

<table >
    <tr>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Data de nascimento</td>
        <td>filhos</td>
        <td>chapa</td>
        <td>email</td>
        <td>telefone</td>
        <td>endereco</td>
        <td>website</td>
        <td>github</td>
        <td>linkedin</td>
        <td>facebook</td>
        <td>instagram</td>
        <td>twitter</td>
    </tr>

    <tr>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>


</table>