<h3>Lista de usuários (Simplificado)</h3>

<a href="/users-simplificado">Ver modo simplificado</a><br />
<a href="/users-completo">Ver modo completo</a><br />

<hr />

<table >
    <tr>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Data de nascimento</td>
    </tr>

    <tr>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>

</table>