<h3>Home Page</h3>

<h4>Versão 1.0</h4>
<p>Site simples para estudos aplicados ao NodeJS. </p>
<p>Ele utiliza um sistema de templates chamado Handlebars, utiliza o Express para exposição de rotas, apis e serviço HTTP. </p>
<p>Ele também utiliza o Sequelize como ORM para um banco MySQL. Ele possui uma estrutrura que atualiza dinamicamente o MySQL e gera seed se necessário.</p>

<h4>Versão 2.0</h4>
<p>Essa versão ainda não está em curso.</p>
<p>Ela terá a documentação correta no Github, uso de testes unitários, sistema de login e controles de cookies.</p>
